/* Grid -- Susy2
---------------------------------------------*/
@import "susy";
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";

$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);

/* Breakpoints
---------------------------------------------*/
$lg: 1200px;
$md: 720px;
$sm: 500px;
$xs: 320px;


/* Blocks
---------------------------------------------*/
.module-width {
    @include span (8);
    background-color: dodgerblue;
    height: 95vh;
    @include breakpoint ($xs) {
        background-color: green;
    }
     @include breakpoint ($sm) {
        background-color: orange;
    }
     @include breakpoint ($md) {
        background-color: pink;
    }
    @include breakpoint ($lg) {
        background-color: yellowgreen;
    }
}